[Unit]
Description=CSF Tizen Plugin Control Service Daemon (TPCSSerDaemon)

[Service]
Type=dbus
ExecStart=/usr/bin/TPCSSerDaemon
BusName=com.tsc.ipc.server.plugin
Restart=always

[Install]
WantedBy=multi-user.target
